#--------------------------------------------------------------------
# ENVIRONMENT
#--------------------------------------------------------------------
CI_ENVIRONMENT = production

#--------------------------------------------------------------------
# APP
#--------------------------------------------------------------------
app.baseURL = 'https://TU-SUBDOMINIO.ngrok-free.app/'
app.forceGlobalSecureRequests = false

#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------
database.default.hostname = localhost
database.default.username = root
database.default.password = 
database.default.database = portal_egresados_unam
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306
